
<div class='emotion-icons-row'>
    <% Reaction.emotions.each do |emo, emo_id| %>
        <% next if emo_id==0 %>        <!--id=0は「該当なし」扱いの特殊コード-->
        <% if Timeline.find(t_id).has_emotion?(current_user.id, emo_id) %>
            <% cl = class_by_emotion(emo) + " emotion-icon selected" %>
        <% else %>
            <% cl = class_by_emotion(emo) + " emotion-icon not-selected" %>
        <% end %>
        <%= link_to "", timeline_likes_path(timeline_id: t_id, emo_id: emo, format: :json), remote: true, method: :post, class: cl %>
    <% end %>
</div>
