
<hr />

    <div class='emotion-ctr-icon'>
        <% Reaction.emotions.each do |emo, emo_id| %>
        
            <% ct = Timeline.find(t_id).number_of_reactions(emo) %>
            <% unless ct==0 %>
                <div class = "<%= class_by_emotion(emo) %>">
                    <span class = "emotion-ctr-text"><%= ct %></span>
                </div>
            <% end %>
        <% end %>
    </div>
