.logout_wrapper {
    text-align: right;
}

.timeline_wrapper {
    &.wrapper{
        width: 700px;
    }
    .actions {
        .alert {
            float: left;
        }
        .post {
            float: right;
        }
    }

  .timeline {
    .per {
      border-radius: 5px;
      padding: 10px;
      margin-top: 20px;
  
      background-color: #DADADA;
      &.mine {
        background-color: #C1EFFF;
      }
  
      &.reply {
        margin-top: 0px;
      }
        
      p {
        margin: 0;
      }
      .icon {
        display: inline-block;
        width: 70px;
        vertical-align: top;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .message {
        display: inline-block;
        margin-left: 10px;
        width: 500px;
        vertical-align: top;
        word-wrap: break-word;
      }
      .operation {
        display: inline-block;
        button {
          margin-bottom: 3px;
        }
        .button_to {
          input.btn {
            width: 50px;
          }
        }
      }
      
      .clickale-like-link {
        margin-top: 5px;
        .emotion-icon-selected {
          opacity: 0.9;
          font-size: 60%;
        }
        .emotion-icon-not-selected {
          opacity: 0.3;
          font-size: 50%;
        }
      }
      .likes-counter {

        hr {
          border: 0;
          height: 1px;
          background-color: #ccc;
          margin: 5px 0;
        }
        .emotion-ctr-icon {
          .emotion-ctr-text {
            margin-left: 20px;
            font-size: 120%;
            font-weight: bold;
          }
          .em {
            font-size: 90%;
            margin-right: 15px;
          }
          .like-icon {
            color: #B63;
          }
          .love-icon {
            color: #f00;
          }
          .laugh-icon {
            color: #08F;
          }
          .wonder-icon {
            color: #666;
          }
          .weep-icon {
            color: #666;
          }
          .anger-icon {
            color: #666;
          }
        }
        
      }
      
    }
  }

  .user-filter {
    margin-bottom: 20px;
    .actions {
      text-align: right;
    }
  }
}


